{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {# {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %} #}

    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>

    <div class="form-container">

    {{ form_start(registrationForm) }}

    {# <h1 class="h3 mb-3 font-weight-normal">Inscription</h1> #}
 
        <div class="form-content">
        
        <div class="form-field">
        {{ form_row(registrationForm.username) }}
        </div>

        <div class="form-field">
        {{ form_row(registrationForm.email) }}
        </div>

        </div>

        <div class="form-content">

        <div class="form-field">
        {{ form_row(registrationForm.plainPassword.first, {
            label: 'Password'
        }) }}
        </div>

        <div class="form-field">
        {{ form_row(registrationForm.plainPassword.second, {
            label: 'Password'
        }) }}
        </div>

        {# <div class="form-field"> #}
        {# {{ form_row(form.plainPassword.first) }} #}
        {# </div> #}

        </div>

        {# <div class="form-field"> #}
        {# {{ form_row(form.plainPassword.second) }} #}
        {# </div> #}

        {# <div class="form-content"> #}
        {# <div class="form-field">
        {{ form_row(registrationForm.agreeTerms) }}
        </div> #}
        {# </div> #}
        
        {# <div class="checkbox mb-3"> #}

        {# <div class="form-links">
        
        <button type="submit" class="btn">Inscription</button>

        </div> #}

        <div class="form-field">
        {{ form_row(registrationForm.register) }}
        </div>

        {# </div> #}
    {{ form_end(registrationForm) }}

    </div>
    
{% endblock %}
