{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="register-wrapper">
    
        {{ form_start(registrationForm) }}
        
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">
                    {{ flash_error }}
                </div>
            {% endfor %}

            {% for flash_error in app.flashes('error') %}
            <div class="alert alert-danger alert-test">
                {{ flash_error }}
            </div>
            {% endfor %}

            <div class="form-content">
                <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
            </div>

            <div class="form-content">
            
                {# <div class="form-field"> #}
                    {{ form_label(registrationForm.username, 'Nom d\'utilisateur') }}
                {# </div> #}
                {# <div class="form-field"> #}
                    {{ form_widget(registrationForm.username) }}
                {# </div> #}

                {# <div class="form-field"> #}
                    {{ form_label(registrationForm.email, 'Adresse e-mail') }}
                {# </div> #}
                {# <div class="form-field"> #}
                    {{ form_widget(registrationForm.email) }}
                {# </div> #}


                {# <div class="form-field"> #}
                    {{ form_label(registrationForm.plainPassword.first, 'Mot de passe') }}
                {# </div> #}
                {# <div class="form-field"> #}
                    {{ form_widget(registrationForm.plainPassword.first) }}
                {# </div> #}

                {# <div class="form-field"> #}
                    {{ form_label(registrationForm.plainPassword.second, 'Confirmer le mot de passe') }}
                {# </div> #}
                {# <div class="form-field"> #}
                    {{ form_widget(registrationForm.plainPassword.second) }}
                {# </div> #}


                {# <div class="form-links"> #}
                    <button type="submit" class="btn btn-lg">Inscription</button>
                {# </div> #}

            </div>

            {# <div class="form-content">
                <div class="form-field">
                    {{ form_row(registrationForm.register) }}
                </div>
            </div> #}

        {{ form_end(registrationForm) }}

    </div>
    
{% endblock %}